<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-4 md-margin-bottom-40">
                    @*<a href="/">
                        <img class="footer-logo" id="logo-footer" src="~/_Assets/img/logo.png" alt="">
                    </a>*@
                    <div class="headline"><h2>About</h2></div>
                    <p>
                        We are a a web design &amp; development studio based in Cairo, Egypt.We love helping people. And we take pride in giving our clients a pretty, effective, high-quality product. Whether you need a brief marketing site, a custom application, or anything in between, we’ve got you covered.
                    </p>
                    @*<p>
                        Just let us to improve your bussiness' image and try to invetsigate in your website, Take a Seconds and Explore our portfolio.
                    </p>*@
                </div><!--/col-md-3-->
                <!-- End About -->
                <!-- Latest -->
                @*<div class="col-md-4 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Latest Posts</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li>
                                <a href="#">Incredible content</a>
                                <small>May 8, 2014</small>
                            </li>
                            <li>
                                <a href="#">Best shoots</a>
                                <small>June 23, 2014</small>
                            </li>
                            <li>
                                <a href="#">New Terms and Conditions</a>
                                <small>September 15, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div>*@
                <!--/col-md-3-->
                <!-- End Latest -->
                <!-- Link List -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="/">@Resources.SiteText.Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/About_Us/all/">@Resources.SiteText.About</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/services/all/">@Resources.SiteText.Services</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/solutions/all/">@Resources.SiteText.Solutions & Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/message/contact_us">@Resources.SiteText.ContactUS</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->
                <!-- Address -->
                <div class="col-md-4 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        42, kamar Street, Ain Shams <br>
                        Cairo, Egypt <br>
                        Phone: 000 000 0000 <br>
                        Fax: 000 000 0000 <br>
                        Email: <a href="mailto:elshiekh5@gmail.com" class="">elshiekh5@gmail.com</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2014 © All Rights Reserved. Unify Theme by
                        <a target="_blank" href="/">Digital Tags</a> 
                    </p>
                </div>
                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="social-icons pull-right">
                        <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                        <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>