@{
    List<AppService.FrontItemsModel> ItemsList = AppService.FrontItemsController.GetLatestData((int)DCCMSNameSpace.SiteModulesMap.Offers, "TopTitlesPhotosPrice", 10);
    int index = 0;
}
@foreach (AppService.FrontItemsModel item in ItemsList)
{
<li>
    <div class="boxcontainer offer">
        <img src="@(@DCCMSNameSpace.SiteSettings.Site_AdminUrl + item.PhotoPathOriginal)" alt="">
        <div class="roll">
            <div class="wrapcaption">
                <a href="/Offers/page/@item.ItemID"><i class="icon-link captionicons"></i></a>
                <a data-gal="prettyPhoto[gallery1]" href="@(DCCMSNameSpace.SiteSettings.Site_AdminUrl + item.PhotoPathOriginal)" title="@item.Title"><i class="icon-zoom-in captionicons"></i></a>
            </div>
        </div>
        <h1><a href="/Offers/page/@item.ItemID">@item.Title</a></h1>
        <p class="price">
            @item.Price
        </p>
    </div>
</li>
}

