@model MVC.Models.PagerModel
@{
    
    Model.PreparePager();
}

<ul class="pagination">

    @if (Model.PreviousIndex > 0)
    {
        <li><a href="@Model.PreviousIndex">Prev</a></li>
    }
    @for (int i = Model._StartPage; i <= Model._EndPage; i++)
    {
        if(i== Model.CurrentPage)
        {
            <li class="active"><a href="@string.Format(Model.LinkPattern,i)">@i</a></li>
        }
        else{

            <li><a href="@string.Format(Model.LinkPattern, i)">@i</a></li>
        }
    }
    
    @if (Model.NextIndex <= Model._EndPage)
    {
        <li><a href="@Model.NextIndex">Next</a></li>
    }

</ul>